.homeLeft {
  display: flex;
  flex-direction: column;
}
.homeLeft .userInfo {
  display: flex;
  margin-bottom: 10px;
}
.homeLeft .userInfo .info .name {
  font-size: 32px;
  margin-bottom: 10px;
}
.homeLeft .userInfo .info .access {
  color: #999;
}
.homeLeft .loginInfo {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
.homeLeft .loginInfo div {
  line-height: 28px;
  font-size: 14px;
  color: #999;
}
.homeLeft .loginInfo div span {
  color: #666;
  margin-left: 60px;
}
