.box1 {
  margin-bottom: 10px;
}
.box1 .user {
  display: flex;
  align-items: center;
  padding-top: 42px;
  margin-bottom: 85px;
}
.box1 .user .avatar {
  flex: 0 0 auto;
  margin-right: 2.4rem;
  width: 7.5rem;
  height: 7.5rem;
  background-color: #f9f9f9;
  border-radius: 50%;
}
.box1 .user .avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box1 .user .userinfo .name {
  font-size: 32px;
  margin-bottom: 10px;
}
.box1 .user .userinfo .access {
  color: #999;
}
.box1 h3 {
  margin-bottom: 1rem;
}
.box1 .login-info {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}
.box1 .login-info p {
  line-height: 28px;
  font-size: 14px;
  color: #999;
}
.box1 .login-info p span {
  color: #666;
  margin-left: 60px;
}
.box-card3 {
  margin-top: 10px;
}
.righ .cr-left {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
